/* ===============
	SHARED
=============== */

/**
 * Shared declarations for certain elements.
 */

/**
 * Always declare margins in the same direction:
 * csswizardry.com/2012/06/single-direction-margin-declarations
 */

h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
hr,
table,
fieldset, figure,
pre {
  margin-bottom: $base-spacing-unit;
}

table {
  border-top : 1px solid #444444;
  background: #f2f2f2;
}
th {
  background-color: #d3d3d3;
}
th,td {
  border-bottom : 1px solid #444444;
}

/**
 * Consistent indentation for lists.
 */

ul, ol,
dd {
  margin-left: $base-spacing-unit;
}
